<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <style>
        body{
            background-color:#FFFAFA;
        }

        .btn{
            background-color: #4CAF50; 
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        #outgoing{
            background-color: #008CBA;
        }
        #incoming{

            background-color: #008CBA;

        }

        .btn:hover{
            opacity:0.5;
        }

        input[type="text"],select{
            width: 300px;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        
        input[type="number"]{
            width: 300px;
            padding: 12px 20px;
            margin: 8px 0;
             display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }


        table {
        border-collapse: collapse;
        width: 100%;
        }
        th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div class="container" align="center">
        <label style="font-family: Arial, Helvetica, sans-serif">Username: <%= username %></label><br>
        <label style="font-family: Arial, Helvetica, sans-serif">Balance: <%= balance %></label><br><br>
        <hr>
        <label style="font-family: Arial, Helvetica, sans-serif">Withdraw or Deposit Money : </label>
        <input type="number" placeholder="Amount" id="amount"><br>
        <label style="font-family: Arial, Helvetica, sans-serif">Transfer Money: </label>
        <input type="text" placeholder="Receiver" id="receiver"><br>
        <br>

        <button class="btn"id="withdraw">withdraw</button>
        <button class="btn"id="deposit">deposit</button>
        <button class="btn"id="transfer">transfer</button>
        <br><br>
        <label  style="font-family: Arial, Helvetica, sans-serif" for="cars"><%=label%> Transactions</label>
        <br><br>
        <!-- <select  name="<%= label%>>" id="cars" size="<%= data.length%>">
            <% for(var i=0; i<data.length; i++) {%>
                <option value="<%= data[i].id%>"><%= "user:"+data[i].receiver+"\t"%>  amount<%= ": "+data[i].amount+"   "%> </option>

            <% } %>
        </select> -->

        <table style="text-align:center">
            <tr>
               <th>Receiver Username</th><th>Amount</th><th>Transaction Date</th>
            </tr>
         
            <% for (var i = 0; i < data.length; i++) { %>
            <tr>
               <td><%= data[i].receiver %></td>
               <td><%= data[i].amount %></td>
               <td><%= data[i].createdAt%></td>
               
             </tr>    
            <% } %>
         </table>

        <br><br>
        <hr>
        <button class="btn" id="incoming">List Incoming</button>
        <button class="btn" id="outgoing">List Outgoing</button>

    </div>

    <script >
        let withdrawButton=document.getElementById("withdraw")
        let depositButton=document.getElementById("deposit")
        let transferButton=document.getElementById("transfer")
        let incomingButton=document.getElementById("incoming")
        let outgoingButton=document.getElementById("outgoing")

        let amountBox=document.getElementById("amount")
        let receiverBox=document.getElementById("receiver")

        withdrawButton.addEventListener("click",()=>{
            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/customer/withdrawmoney" )
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.setRequestHeader("Authorization","Bearer "+getCookie("token"))

            xhttp.responseType = 'json';

            let data=new FormData()
            data.amount=amountBox.value
            console.log(data)

            xhttp.onload = function() {
                if(this.status===200){
                    alert("money withdrawn")
                    location.reload()
                }
                else if(this.status==401){
                    alert("not authorized")
                }
                else if(this.status==400){
                    alert("error2")
                }
            };
            xhttp.send(JSON.stringify(data));
        })

        depositButton.addEventListener("click",()=>{
            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/customer/depositmoney" )
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.setRequestHeader("Authorization","Bearer "+getCookie("token"))
            xhttp.responseType = 'json';
            console.log(xhttp)
            let data=new FormData()
            data.amount=amountBox.value
            console.log(data)

            xhttp.onload = function() {
                if(this.status===200){
                    alert("money deposited")
                    location.reload()
                }
                else if(this.status==401){
                    alert("not authorized")
                }
                else if(this.status==400){
                    alert("error2")
                }
            };
            xhttp.send(JSON.stringify(data));

        })
        transferButton.addEventListener("click",()=> {
            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/customer/transfermoney")
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.setRequestHeader("Authorization","Bearer "+getCookie("token"))

            xhttp.responseType = 'json';

            let data = new FormData()
            data.amount = amountBox.value
            data.receiver = receiverBox.value
                console.log(data)

            xhttp.onload = function () {
                if (this.status === 200) {
                    alert("money transferred")
                    location.reload()
                } else if (this.status == 401) {
                    alert("not authorized")
                } else if (this.status == 400) {
                    alert("error2")
                }
            };
            xhttp.send(JSON.stringify(data));
        })

        incomingButton.addEventListener("click",()=> {
            let link=document.createElement('a');
            document.body.appendChild(link)
            link.href="/customer/listallincomingtransfers"
            link.click()

        })

        outgoingButton.addEventListener("click",()=> {
            let link=document.createElement('a');
            document.body.appendChild(link)
            link.href="/customer/listalloutgoingtransfers"
            link.click()

        })
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
    </script>
</body>
</html>